body {
    direction: rtl;
    text-align: right;
    font-family: Vazir;
    font-weight: 300;
    font-size: .9rem;

    // box shadow for project
    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0,0,0,0.05);
    }

    .pricing-header {
        max-width: 700px;
    }

    //add for panels
    .container {
        max-width: 960px;
    }

    // for responsive cards
    .card-deck .card {
        min-width: 220px;
    }
}


@media (min-width: 768px) {
    body {
        font-size: 1rem;
    }
}

